body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.tomato{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 80%;
    height: 20%;
    
    padding-left: 10%;
}
.half-width img{
    width:80% ;
}
.link-button{
    text-decoration: none ;
    background-image:linear-gradient(orange,tomato) ;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.top-banner
{
    background-image: repeating-radial-gradient();
}
.dream-big{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat:no-repeat;
    background-position:  right;
     
}
.recipies{
    width: 80%;   
    padding-left: 10%;
}
.has-color{
    color:#575252 ;
}
.experience-item{
    
    margin: 10%;
    width: 50%;
    margin-left: 0%;
    margin-right: 5%;    
    padding-left: 2%;
    box-shadow: 10px 10px 10px rgb(230, 219, 219);
    border-radius: 50px;
   
}
.images3{
    
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}
.flex-container > div {
    width: 50%;
    display:inline-table;
    margin-block:40px ;
    
    box-shadow: 10px 10px    rgb(230, 219, 219);
    border-radius: 50px;
  
  }
.box{
    background-color: black;
}